In [3]:
import pandas as pd

In [119]:
df = pd.read_excel(r"C:\Users\admin\OneDrive\Desktop\Pandas\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No,True
1,1002,Troy,...Nadir,123-643-9775,812 Greendale Community College,No,Yes,False
2,1003,Jesse,/Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN,True
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y,True
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,No,True
5,1006,Robb,..Swanson,304-762-2467,94 Parks and Recreation Plaza,Yes,Yes,True
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,No,No,False
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,No,False
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Hermione,...Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN,True
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Yes,No,False
14,1015,Toby,/Flenderson_,123-643-9775\t,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,...Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Luke,/Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N,True
20,1020,Luke,/Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N,True
21,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
22,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y,True
23,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
24,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
25,1003,Jesse,/Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,NaN,True
26,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No,True
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,No,Yes,False
28,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No,True
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False

In [102]:
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No,True
1,1002,Troy,Nadir,123-643-9775,812 Greendale Community College,No,Yes,False
2,1003,Jesse,Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN,True
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y,True
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,No,True
5,1006,Robb,Swanson,304-762-2467,94 Parks and Recreation Plaza,Yes,Yes,True
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,No,No,False
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,No,False
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Hermione,Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN,True
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Yes,No,False
14,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N,True
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,No,Yes,False
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False

In [125]:
df.drop(columns = "Not_Useful_Column")

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No
1,1002,Troy,Nadir,123-643-9775,812 Greendale Community College,No,Yes
2,1003,Jesse,Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,No
5,1006,Robb,Swanson,304-762-2467,94 Parks and Recreation Plaza,Yes,Yes
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,No,No
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,No
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Yes,NaN
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Hermione,Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Yes,No
14,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N
20,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N
21,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
22,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y
23,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
24,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
25,1003,Jesse,Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,NaN
26,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,No,Yes
28,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N

In [124]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No,True
1,1002,Troy,Nadir,123-643-9775,812 Greendale Community College,No,Yes,False
2,1003,Jesse,Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN,True
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y,True
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,No,True
5,1006,Robb,Swanson,304-762-2467,94 Parks and Recreation Plaza,Yes,Yes,True
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,No,No,False
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,No,False
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Hermione,Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN,True
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Yes,No,False
14,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N,True
20,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N,True
21,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
22,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y,True
23,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
24,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
25,1003,Jesse,Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,NaN,True
26,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No,True
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,No,Yes,False
28,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No,True
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N,False

In [128]:
df.loc[:,"Last_Name"] =df["Last_Name"].str.lstrip("...")
df.loc[:,"Last_Name"] =df["Last_Name"].str.lstrip("/")
df.loc[:,"Last_Name"] =df["Last_Name"].str.rstrip("_")
df = df.drop(columns = "Not_Useful_Column")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No
1,1002,Troy,Nadir,123-643-9775,812 Greendale Community College,No,Yes
2,1003,Jesse,Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,No
5,1006,Robb,Swanson,304-762-2467,94 Parks and Recreation Plaza,Yes,Yes
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,No,No
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,No
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Yes,NaN
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
11,1012,Hermione,Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Yes,No
14,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,No
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Yes,No
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN
18,1019,Creed,Braton,N/a,N/a,N/a,Yes
19,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N
20,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Yes,N
21,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
22,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Yes,Y
23,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No
24,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N
25,1003,Jesse,Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,NaN
26,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Yes,No
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,No,Yes
28,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Yes,No
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Yes,N

In [142]:
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('Yes','Y')
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace('No','N')
df["Paying Customer"] = df["Paying Customer"].str.replace('Yes','Y')
df["Paying Customer"] = df["Paying Customer"].str.replace('No','N')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Y,N,11 Bag End,The Shire
1,1002,Troy,Nadir,123-643-9775,812 Greendale Community College,N,Y,812 Greendale Community College,None
2,1003,Jesse,Pinkman,NaN,"308 Negra Arroyo Lane, Albuquerque",N,NaN,308 Negra Arroyo Lane,Albuquerque
3,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Y,Y,1725 Slough Avenue,Scranton
4,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,N,Winterfell,The North
5,1006,Robb,Swanson,304-762-2467,94 Parks and Recreation Plaza,Y,Y,94 Parks and Recreation Plaza,None
6,1007,Leslie,Winger,NaN,6121 Darkest Timeline Drive,N,N,6121 Darkest Timeline Drive,None
7,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,N,221B Baker Street,London
8,1009,Gandalf,NaN,NaN,"Wizard's Tower, Rivendell",Y,NaN,Wizard's Tower,Rivendell
9,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Y,N,20 Ingram Street,New York
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,612 Shire Lane,Shire
11,1012,Hermione,Granger,NaN,"3 Bagshot Row, Hobbiton",Y,NaN,3 Bagshot Row,Hobbiton
12,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Y,N,12 Grimmauld Place,London
13,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Y,N,405 Madison Avenue,New York
14,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,N,214 HR Avenue,None
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None
16,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania
17,1018,Clark,Kent,NaN,3498 Super Lane,Y,NaN,3498 Super Lane,None
18,1019,Creed,Braton,N/a,N/a,N/a,Y,N/a,None
19,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Y,N,2 Lars Homestead,Tatooine
20,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Y,N,2 Lars Homestead,Tatooine
21,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,612 Shire Lane,Shire
22,1004,Jim,Schrute,123-543-2345,"1725 Slough Avenue, Scranton",Y,Y,1725 Slough Avenue,Scranton
23,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Y,N,612 Shire Lane,Shire
24,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,None
25,1003,Jesse,Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,NaN,308 Negra Arroyo Lane,Albuquerque
26,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Y,N,11 Bag End,The Shire
27,1002,Troy,Nadir,123/643/9775,812 Greendale Community College,N,Y,812 Greendale Community College,None
28,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Y,N,20 Ingram Street,New York
29,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Y,N,12 Grimmauld Place,London

In [144]:
#df = df.replace('N/a','')
#df = df.replace('NaN','')
df=df.fillna('')
for x in df.index:
    if df.loc[x, "Do_Not_Contact"] == 'Y':
        df.drop(x, inplace=True)
for x in df.index:
    if df.loc[x, "Phone_Number"] == '':
        df.drop(x, inplace=True)
df = df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Address,State
0,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Y,N,11 Bag End,The Shire
1,1005,Jon,Snow,876-678-3469\t,"Winterfell, The North",Y,N,Winterfell,The North
2,1008,Sherlock,Holmes,123-545-5421,"221B Baker Street, London",N,N,221B Baker Street,London
3,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Y,N,20 Ingram Street,New York
4,1013,Don,…Draper,123-543-2345,"12 Grimmauld Place, London",Y,N,12 Grimmauld Place,London
5,1014,Leslie,Knope,876-678-3469,"405 Madison Avenue, New York",Y,N,405 Madison Avenue,New York
6,1015,Toby,Flenderson,123-643-9775\t,214 HR Avenue,N,N,214 HR Avenue,
7,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,
8,1017,Dwight,Scott,123-643-9775\t,"121 Paper Avenue, Pennsylvania",Y,N,121 Paper Avenue,Pennsylvania
9,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Y,N,2 Lars Homestead,Tatooine
10,1020,Luke,Skywalker,876|678|3469,"2 Lars Homestead, Tatooine",Y,N,2 Lars Homestead,Tatooine
11,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N,2395 Hogwarts Avenue,
12,1003,Jesse,Pinkman,7066950392,"308 Negra Arroyo Lane, Albuquerque",N,,308 Negra Arroyo Lane,Albuquerque
13,1001,Bilbo,Baggins,123-545-5421,"11 Bag End, The Shire",Y,N,11 Bag End,The Shire
14,1010,Peter,Parker,123-545-5421,"20 Ingram Street, New York",Y,N,20 Ingram Street,New York
15,1013,Don,Draper,123-543-2345,"12 Grimmauld Place, London",Y,N,12 Grimmauld Place,London